{% extends 'main.html' %}


{% block content %}
<div class="container mt-4 text-center">
    <video
      id="my-video"
      class="video-js vjs-big-play-centered"
      controls
      preload="auto"
      width="500"
      height="400"
      data-setup=""

    >
      <source
        src="../../../static/video/merged.mp4"
        type="video/mp4"
      />
         <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
    </video>
    <a href="../../../static/video/merged.mp4" download>click here to download</a>

    </div>




{% endblock %}